.order-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    gap: 12px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px;
}

.order-card:hover {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 1100px) {
    .order-card {
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }

    .order-card-part {
        width: 33%;
    }
}

.order-card__section-header {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.order-card__header {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 5px;
}

.order-card__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.order-card__prop {
    font-size: 1.5rem;
}

.order-card__prop-key {
    display: block;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.order-card__status {
    padding: 0 3px;
    border-radius: 2px;
}
.order-card__status--green {
    background-color: #cbfdda;
}
.order-card__status--orange {
    background-color: #ffe7c2;
}
.order-card__status--blue {
    background-color: #c9f3ff;
}
.order-card__status--gray {
    background-color: #cccccc;
}
.order-card__status--red {
    background-color: #ffb7b7;
}
.order-card__status--yellow {
    background-color: #fffeb7;
}

