.customer-profile {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2.2rem;
    row-gap: 1rem;
}

.customer-profile__row-key {
    font-weight: 600;

    &--gray {
        color: gray;
    }
}
