@use '../../../components/App/css/variables' as *;

.u-table {
}
.u-table--block {
    width: 100%;
}

.u-table-head-row {
    background-color: white;
}
.u-table-head-row--sticky {
    position: sticky;
    top: -2rem;
    z-index: 2;
}

.u-table-head-cell {
    font-weight: bold;
    padding: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.u-table-row {
    border-radius: .4rem;

    &:hover {
        outline: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.u-table-row--selected {
    background-color: $grayColor-1;
}

.u-table-cell {
    vertical-align: top;
    padding: .5rem;
}
.u-table-cell--left {

}
.u-table-cell--center {

}
.u-table-cell--right {
    text-align: right;
}
.u-table-cell--no-wrap {
    white-space: nowrap;
}