.u-table {

}
.u-table--block {
    width: 100%;
}

.u-table-head-row {
    background-color: white;
}
.u-table-head-row--sticky {
    position: sticky;
    top: -2rem;
}

.u-table-head-cell {
    font-weight: bold;
    padding: .5rem 1rem .5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.u-table-row {

}

.u-table-cell {
    vertical-align: top;
    padding: 1rem 1rem 0 0;
}
.u-table-cell--left {

}
.u-table-cell--center {

}
.u-table-cell--right {
    text-align: right;
}