@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

:root {
	display: flex;
	// Стандартный размер шрифта в браузере 16 пикселей.
	// Поэтому 10 пикселей будет 62.5%.
	// Размер в процентах указывается для слабовидящих у которых в браузере стоит увеличенный шрифт.
	font-size: 62.5%;
	width: 100%;
	height: 100vh;
}

*:not(svg, g, path) {
	all: unset;
	display: revert;
	list-style: none;

	&:focus {
		outline: 2px solid $blueColor-2;
	}
}

body {
	display: flex;
	font-family: 'Manrope', Arial, sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: $textColor;
	overflow: hidden;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	max-height: 100vh;
}

#root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

a,
button {
	cursor: pointer;

	&:focus {
		outline: 1px solid $blueColor-2;
	}
}

.mini-space {
	font-size: 0.4em;
}
