

/*.order-card-main-active {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 15px 5px rgba(56, 115, 159, 0.3);
    background-color: #ffffff;
    border: 1px solid #1776CD;
}*/

/*.order-details-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}*/

/*.order-details-main-container-sell {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}*/

/*.order-details-main-container-zapchasti {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #656565;
    padding: 10px 0;
    border-radius: 6px;
}*/

/*.order-details-main-container-zapchasti > .dropdown > select, input {
    max-width: 400px;
}*/

/*
.order-details-main-container-zapchasti > .dropdown > h5 {
    background: #1776CD;
    color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}*/
