@use '../../../components/App/css/variables' as *;
@use "sass:color";

.order-table__loading-wrapper {
    display: flex;
    justify-content: center;
}

.order-table__status {
    padding: 0 3px;
    border-radius: 2px;
}
.order-table__status--green {
    background-color: #dbffe6;
}
.order-table__status--orange {
    background-color: #ffecd1;
}
.order-table__status--blue {
    background-color: #d6f4ff;
}
.order-table__status--gray {
    background-color: #dddddd;
}
.order-table__status--red {
    background-color: #ffe1e1;
}
.order-table__status--yellow {
    background-color: #fffec7;
}