@use '../../../components/App/css/variables' as *;

.call-record-player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1.2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.call-record-player__content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: $grayColor-1;
    width: 100%;
    max-width: 70rem;
    box-sizing: border-box;
    padding: .8rem 2rem;
    border-radius: .8rem;
}

.call-record-player__audio {
    flex-grow: 1;
}
