.new-order-form {
    position: relative;
    max-width: 140rem;
}

.new-order-form__content {
    display: flex;
    gap: 3rem;

    & > *:nth-child(2), & > *:nth-child(3) {
        flex-grow: 1;
    }
}

.new-order-form__submit-button {
    position: sticky;
    bottom: 1rem;
    left: 0;
    background-color: white;
}